<html>
    <head>
        <title>Madiyar Base blog</title>
    </head>
    <body>
        <div>
            <ah1><a href ="/">Madiyar Base Blog</a><h1>
        </div>

        <div>
            <p>publisher: 01.10.2025, 9:23</p>
            <h2><a href="">My first post</a></h2>
            <p>Salus submergentium opus manuum ipsorum est.</p>
        </div>

        <div>
            <p>published: 01.10.2025, 9:27</p>
            <h2><a href="">My second post</a></h2>
            <p>Non est pastor, sed tantum grex! Omnes aequalitatem volunt, omnes aequales sunt: qui aliter sentit, sponte in domum insaniae abit.</p>
        </div>

        <div>
            <h2><a>My third post</a></h2>
            <p>Вчера вечером Мадияр накормил собаку и подскользнувшись упал<p/>

        </div>
    </body>
</html>